<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We will need your location to get the current weather.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We will need your location to get the current weather.</string>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
	</array>
</dict>
</plist>
